$link: #bf0222; 

// Light theme
$light_text: #333;
$light_text_alt: #999;
$light_border: #eee;
$light_background: #fff;

// Dark theme
$dark_text: #eee;
$dark_text_alt: #999;
$dark_border: #111;
$dark_background: #000;