article .exif {
	span {
		margin-right: 2px;
		white-space: nowrap;
		color: #333;

		&:before {
			color: #999;
		}
	}


	.exif-camera:before {
		content: "• Camera ";
	}
	.exif-lens:before {
		content: "• Lens ";
	}
	.exif-film:before {
		content: "• Film ";
	}
	.exif-focal-length:before {
		content: "• Focal length ";
	}
	.exif-aperture:before {
		content: "• Aperture ";
	}
	.exif-exposure:before {
		content: "• Shutter speed ";
	}
	.exif-iso:before {
		content: "• ISO ";
	}
}