footer {
  width: 100%;
  float: left;
  margin: 0 auto;

  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  .about {
    float: left;
    width: 100%;
  }
  p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 1.5em 0;
    text-align: center;
  }
  h1 {
    font-size: 20px;
    line-height: 1.2;
    margin: 1.2em 0;
    font-style: italic;
    border-bottom: 1px solid #eee;
  }
}