html {
  @include transition(color 100ms, background-color 500ms);
  font-family: $kepler;
  font-weight:300;
  font-size:62.5%;
  text-rendering: optimizeLegibility;
  height: 100%;

  &.dark {
    background-color: $dark_background;
    color: $dark_text;
  }

  &.light {
    background-color: $light_background;
    color: $light_text;
  }
}

body {
  height: 100%;
}

.wrap {
  max-width:1280px;
  margin:0 auto;
}

span.amp, abbr[title=and] {
  font-style:italic;
  font-family:"Baskerville", $garamond, serif;
  font-weight:normal;
}

h1.no-results {
  font-size:24px;
  line-height:1;
  margin:1em 0;
  border-bottom:1px solid #eee;
  float:left;
  margin:96px 0;
}

img {
  max-width:100% !important;
}

strong {
  font-weight: bold;
  font-style: normal;
}

a {
  text-decoration:none;
  -webkit-transition:color 0.25s linear, border-color 0.25s linear;
  -moz-transition:color 0.25s linear, border-color 0.25s linear;
  -ms-transition:color 0.25s linear, border-color 0.25s linear;
  transition:color 0.25s linear, border-color 0.25s linear;
}

a:link, a:visited {
  color: $link;
  border-bottom:1px solid transparentize($link, 1);
}
a:hover, a:active {
  color:$link;
  border-bottom: 1px solid $link;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}