header {
  width:100%;
  max-width: 960px;
  margin: 44px auto 24px auto;
  text-align: center;
  h1 {
    font-weight:300;
    font-size:20px;
    line-height:1;
    margin:0;
    width:100%;
    float:left;
    @media (min-width: $x-small) {
      font-size: 24px;
    }
  }
  h2 {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    font-style: italic;
  }
  p {
    font-weight:300;
    font-size:16px;
    line-height:1.5;
    margin: 0;
    width: 100%;
    float: left;
  }
  a:link, a:visited {
    border:none;
    .dark & {
      color: $dark_text;
    }

    .light & {
      color: $light_text;
    }
  }
  a:hover, a:active {
    border:none;
    .dark &, .light & {
      color: $link;
    }
  }
}