.meta {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  font-weight: 400;
  color: #999;
  clear: both;
  p {
    font-size: 14px;
    line-height: 1.7142857143;
    margin: 0;
    text-align: center;
  }
  b {
    color:#000;
    font-weight:normal;
  }
  a:link, a:visited {
    color:#000;
    border-bottom:1px solid rgba(0,0,0,0);
  }
  a:hover, a:active {
    color:#000;
    border-bottom:1px solid rgba(0,0,0,1);
  }
}