.meta {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  font-weight: 400;
  clear: both;
  padding: 0 10px;
  .dark & {
    color: $dark_text;
  }

  .light & {
    color: $light_text;
  }
  p {
    font-size: 14px;
    line-height: 1.7142857143;
    margin: 0;
    text-align: center;
  }
  a:link, a:visited {
    border: none;
    .dark & {
      color: $dark_text;
    }

    .light & {
      color: $light_text;
    }
  }
  a:hover, a:active {
    borde: none;
    .dark &, .light & {
      color: $link;
    }
  }
}