nav.pagination {
  width:100%;
  float: left;
  p {
    font-size: 16px;
    margin: 1.5em 0;
    line-height: 1.5;
    max-width: 960px;
    text-align: center;
    span {
      .dark & {
        color: $dark_text_alt;
      }

      .light & {
        color: $light_text_alt;
      }
    }
    a, span {
      margin: 0 10px; 
    }
    @media (min-width: $x-small) {
      font-size: 24px;
      margin: 1em auto;
      line-height: 1.5;
    }
  }
  a:link, a:visited {
    .dark & {
      color: $dark_text;
    }

    .light & {
      color: $light_text;
    }
    border:none;
  }

  a:hover, a:active {
    .dark &, .light & {
      color:$link;
    }
    border:none;
  }
}