article .tags {
  width: 100%;
  max-width: 960px;
  font-size: 14px;
  line-height: 1.7142857143;
  padding: 0;
  margin: 0 auto;
  clear: both;

  .dark & {
    color: $dark_text_alt;
  }

  .light & {
    color: $light_text_alt;
  }

  a[rel="tag"] {
    margin-right:3px;
    text-transform: lowercase;
    &:before {
      content:"#";
      .dark & {
        color: $dark_text_alt;
      }

      .light & {
        color: $light_text_alt;
      }
    }
  }
  a:link, a:visited {
    border: none;

    .dark & {
      color: $dark_text_alt;
    }

    .light & {
      color: $light_text_alt;
    }
  }
  a:hover, a:active {
    border: none;
    .dark &, .light & {
      color: $link;
    }
  }
}