article .tags {
  width: 100%;
  max-width: 960px;
  font-size: 14px;
  line-height: 1.7142857143;
  padding: 0;
  margin: 0 auto;
  clear: both;
  display: none;

  .dark & {
    color: $dark_text_alt;
  }

  .light & {
    color: $light_text_alt;
  }

  &:before {
    content: "• Tagged ";
    margin-right: 2px;
  }

  a[rel="tag"] {
    margin-right:3px;
    text-transform: lowercase;
    &:before {
      content:"#";
      .dark & {
        color: $dark_text_alt;
      }

      .light & {
        color: $light_text_alt;
      }
    }
  }
  a:link, a:visited {
    border-bottom:1px solid;

    .dark & {
      color: $dark_text;
      border-color: transparentize($dark_text, 1);
    }

    .light & {
      color: $light_text;
      border-color: transparentize($light_text, 1);
    }
  }
  a:hover, a:active {
    border-bottom:1px solid;
    .dark &, .light & {
      color: $link;
      border-color: $link;
    }
  }
}