// Fonts
$kepler                     : kepler-std-display, georgia, serif;

// Breakpoints
$bp-xs                      : 480px;
$bp-s                       : 600px;
$bp-m                       : 840px;
$bp-l                       : 960px;
$bp-max                     : 1280px;

// Colors
$color-links                : #bf0222;

// Light theme
$theme-light-background     : #fff;
$theme-light-background-alt : shade($theme-light-background, 2%);
$theme-light-text           : #333;
$theme-light-text-alt       : #999;
$theme-light-border         : #eee;

// Dark theme
$theme-dark-background      : #000;
$theme-dark-background-alt  : tint($theme-dark-background, 5%);
$theme-dark-text            : #eee;
$theme-dark-text-alt        : #999;
$theme-dark-border          : tint($theme-dark-background, 10%);