$m : '.m-entry';

#{$m} {
  max-width: $bp-l;
  margin: 20vw auto;
  padding: 0 2rem;
  width: 100%;
  p,
  ul,
  ol,
  dl {
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 1.5rem 0;
  }
  p {
    margin: 1.5rem 0 0 0;
  }
  p + p {
    margin-top: 0;
    text-indent: 1.5rem;
  }
  ul,
  ol {
    padding: 0;
  }
  ul li {
    list-style-type: disc;
  }
  ol li {
    list-style-type: decimal;
  }
  cite, em {
    font-style: italic;
    font-weight: 300;
  }
  strong {
    font-style: normal;
    font-weight: bold;
  }
  small {
    font-size: 1.2rem;
    line-height: 2;
    font-weight: 400;
  }
  q:before {
    content: '\201c';
  }
  q q:before {
    content: '\2018';
  }
  q:after {
    content: '\201d';
  }
  q q:after {
    content: '\2019';
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.5;
    margin: 1.5rem 0;
  }
  table {
    margin: 2.4rem 0;
    width: 100%;
  }
  tr {
    border-top: 1px solid;
  }
  td {
    font-size: 1.6rem;
    line-height: 1.5;
    padding: 0.5rem 1rem;
    vertical-align: middle;
    iframe {
      vertical-align: middle;
    }
    &.align-right {
      text-align: right;
    }
    &.align-center {
      text-align: center;
    }
  }
  &:first-of-type {
    margin-top: 4.8rem;
  }
  &:last-of-type {
    margin-bottom: 4.8rem;
  }
  @media (min-width: $bp-max) {
    margin: ($bp-max * 0.20) auto;
  }
}

#{$m}__body {
  margin: 0 auto;
  max-width: $bp-l;

  blockquote {
    border-left: 2px solid;
    font-weight: 300;
    margin:0 1.5rem;
    padding-left: 0.5rem;
    position: relative;
    p:first-child:before {
      content: '“';
      font-size: 3.6rem;
      left: -20px;
      position: absolute;
      top: -10px;
    }
  }

  &.caption {
    margin: 0 auto (2.4rem/1.3) auto;
    max-width: $bp-max;
    p {
      font-size: 1.3rem;
      line-height: (2.4/1.3);
      margin: 0;
    }
  }
}

#{$m}__meta {
  font-weight: 400;
  padding: 0 2rem;
  margin: 0 auto;
  max-width: $bp-l;
  p {
    font-size: 1.4rem;
    line-height: (2.4/1.4);
    margin: 0;
    text-align: center;
  }
  p:first-of-type {
    margin-top: (2.4rem/1.4);
  }
  a:link, a:visited, a:hover, a:active {
    border: none;
  }
}

#{$m}__main-quote {
  margin: 0;
  padding: 0;
  p {
    font-style: italic;
  }
  p:first-of-type:before {
    content: '“';
    text-indent: -0.3rem;
  }
  p:last-of-type:after {
    content: '”';
  }
  p:empty:before,
  p:empty:after {
    content: none;
  }
  &.short p,
  &.medium p,
  &.long p {
    font-size: 2rem;
    line-height: 1.2;
    margin-top: 1.2rem;
  }
  @media (min-width: $bp-s) {
    &.short p,
    &.medium p {
      font-size: 2.4rem;
      line-height: 1;
      margin-top: 1rem;
    }
  }
  @media (min-width: $bp-l) {
    &.short p {
      font-size: 4.8rem;
      line-height: 1;
      margin-top: 1rem;
    }
  }
  &.short,
  &.medium,
  &.long {
    p + p {
      margin-top: 0;
    }
  }
}

#{$m}.text {
  h1 {
    font-size: 2.4rem;
    line-height: 1;
    margin: 1rem 0;
  }
  h2 {
    font-size: 2rem;
    font-style: italic;
    line-height: 1.2;
    margin: 1.2rem 0;
  }
}

#{$m}.link {
  h1 {
    font-size: 2rem;
    font-style: italic;
    line-height: 1.2;
    margin: 1.2rem 0;
  }
}

#{$m}.quote {
  #{$m}__body p:first-of-type:before {
    content: '—';
  }
}

#{$m}.answer {
  #{$m}__body {
    border-top: 1px solid;
    margin-top: 1.5rem;
  }
}

#{$m}.photo {
  max-width: $bp-max;
  padding: 0;
  #{$m}__body {
    padding: 0 2rem;
    text-align: center;
  }
}

#{$m}__photo-container {
  margin: 0 0 1rem 0;
  padding: 0;
  text-align: center;
  width: 100%;
  a {
    border: none;
    display: block;
    font-size: 0;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  &.has-caption {
    margin-bottom: 0;
  }
}

#{$m}__photo {
  display: inline-block;
  max-width: 100%;
  &.fit-window {
    max-height: 100vh;
  }
}